/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/


#testoAlternato {
    width: 500px;
    border: 1px solid black;
    padding: 50px;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 1.5;
}

.parole {
    position: relative;
}

.parole i {
    position: absolute;
    animation-name: action;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    transition: 0.3;
}