html,
body {
    height: 100%;
}

#container {
    height: 100%;
    background-color: rgb(224, 224, 224);
    padding: 20px;
}

#post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    height: 50vh;
    border: 20px solid black;

}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    margin: 23px;
    box-shadow: 3px 2px 2px 1px rgb(78, 78, 78);
}

.postit1 {
    transform: rotate(350deg);
    background: rgb(185, 186, 147);
    background: linear-gradient(0deg, rgba(185, 186, 147, 1) 0%, rgba(248, 250, 199, 1) 100%);
}

.postit2 {
    transform: rotate(9deg);
    background: rgb(122, 150, 123);
    background: linear-gradient(0deg, rgba(122, 150, 123, 1) 0%, rgba(200, 249, 202, 1) 100%);
}

.postit3 {
    transform: rotate(349deg);
    background: rgb(137, 139, 154);
    background: linear-gradient(0deg, rgba(137, 139, 154, 1) 0%, rgba(195, 197, 239, 1) 100%);
}

.postit4 {
    transform: rotate(16deg);
    background: rgb(122, 150, 123);
    background: linear-gradient(0deg, rgba(122, 150, 123, 1) 0%, rgba(200, 249, 202, 1) 100%);
}

.postit5 {
    transform: rotate(350deg);
    background: rgb(185, 186, 147);
    background: linear-gradient(0deg, rgba(185, 186, 147, 1) 0%, rgba(248, 250, 199, 1) 100%);
}

.postit6 {
    transform: rotate(349deg);
    background: rgb(137, 139, 154);
    background: linear-gradient(0deg, rgba(137, 139, 154, 1) 0%, rgba(195, 197, 239, 1) 100%);
}

.postit7 {
    transform: rotate(354deg);
    background-color: #f8fac7;
}

.postit8 {
    transform: rotate(4deg);
    background: rgb(122, 150, 123);
    background: linear-gradient(0deg, rgba(122, 150, 123, 1) 0%, rgba(200, 249, 202, 1) 100%);
}

#postit:hover {
    transform: rotate(0deg);
    width: 250px;
    height: 200px;
    margin: 0;
}